Gen-AI/Day-06/French-Revolution.pdf
Gen-AI/Day-06/package-lock.json
Gen-AI/Day-06/node_modules/
Gen-AI/Day-06/.env

Agentic-AI/Day-01/node_modules/
Agentic-AI/Day-01/package-lock.json
Agentic-AI/Day-01/.env